* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6); /* Черный полупрозрачный (под блюр) */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#cpu, #memory, #temperature, #pulseaudio, #clock, #tray {
    padding: 0 10px;
    margin: 4px 2px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}

#workspaces {
    background: rgba(255, 255, 255, 0.05);
    margin: 4px 0;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 8px;
    color: #777777;
}

#workspaces button.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

menu {
    background: #111111;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 5px;
}

menuitem {
    background: transparent;
    padding: 5px;
}

menuitem:hover {
    background: #222222;
    border-radius: 5px;
}

label {
    color: white;
}
